#subQuestionnaire label,#subQuestionnaire textarea,#subQuestionnaire>input{
    margin-bottom: 20px;
    margin-left: 30px;
}
#subQuestionnaire>input{
    width:50%;
}
#subQuestionnaire span{
    display: block;
    text-align: center;
}
.queBtn input{
    background: #337ab7;
    color: #fff;
    display: inline;
    margin-right: 25px;
    border: 0;
    border-radius: 5px;
    padding:5px 10px;
}
.queBtn input:nth-child(2){
    background: #5cb85c;
    margin-left: 25px;
}
.queBtn{
    text-align: center;
    margin: 20px 0;
    padding: 0;
}

/*手机屏*/
@media (max-width: 767px) {
    #subQuestionnaire textarea,#subQuestionnaire>input{
        width: 90%;
    }
    canvas{
        display: block;
        margin: 5px auto;
    }
}